<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">
    <!-- Repo -->
    <bean id="questionRepository" class="ru.otus01.repository.QuestionRepositoryImpl">
        <constructor-arg name="file" value="classpath:questions.csv"/>
    </bean>
    <!-- Services -->
    <bean id="printConsoleService" class="ru.otus01.service.PrintConsoleServiceImpl">
        <constructor-arg name="repo" ref="questionRepository"/>
    </bean>
</beans>
